<header class="mainHeader">
    <img src="{{{site.url}}{{site.baseurl}}/assets/img/flw_icon.svg" alt="flutterwave" />

    <div class="searchWrapper">
        <i class="fa fa-search searchIcon"></i>
        <input class="searchBox" type="search" name="search" placeholder="Search the documentation">
    </div>

    <div class="header-nav">
    
        <a href="https://support.flutterwave.com" class="headerLink">Support</a>
        <a href="" class="headerLink">Blog</a>
        <button class="headerButton" id="login">Get API Keys</button>
            
    </div>
</header>