<div class="left-nav">
  <p><i class="fas fa-angle-left">Back</i></p>

  <div class="home">
    {%- if post.categories -%}
    <h1 class="page-heading">{{ post.categories }}</h1>
    {%- endif -%}

    <ul class="listing">
      
      {% for item in site.data.menus.header %}
    
    
      
      <li class="menu-item-{{ loop.index }}">
        {%- if item.identifier == page.identifier -%}
    
        
        <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
          item.title
        }}</a>
        <ul class="sublisting">
          {% for entry in item.subfolderitems %}
          <li>
            <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
              entry.title
            }}</a>
            <ul class="sublisting">
          {% for li in entry.subfolderitems %}
          <li>
            <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
              li.title
            }}</a>
          </li>
          {% endfor %}
        </ul>
          </li>
          {% endfor %}
        </ul>
       {%- endif -%}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
