---
layout: docs-default
---

<div class="docContainer" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="left-nav">
    <a class="menu" href="{{ site.url }}{{ site.baseurl }}">
      <i class="fas fa-angle-left">Back</i>
    </a>

    <p id="tech-stack"></p>
    
    <div class="left-nav-items">

    </div>

  </div>

  <div class="doc-content" itemprop="articleBody">
    
    {{ content }}
  </div>

  <div class="right-nav">
    <p class="menu">TECHNOLOGIES</p>

    <!-- <select id="sdk" name="sdk" class="listing">
      <option value="">Select Technology</option>
      {% for p in site.posts %} {% if p.layout == "transfer" %}

      <option value="{{ p.url }}">{{
        p.title
      }}</option>
      {% endif %} {% endfor %}
    </select> -->

    <select id="sdk" name="sdk" class="listing">
      <option value="">Select Technology</option>
      {% for p in site.data.sdk.header %} 

      <option value="{{ p.identifier }}">{{
        p.title
      }}</option>
     {% endfor %}
    </select>

    <hr />
    <div id="log"></div>

    {% for item in page.subnav %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}
  </div>

  <!-- <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a> -->
</div>

<div class="doc-help">
  {% include needhelp.html %}
</div>

<div class="doc-help">
  {% include helpful.html %}
</div>


<div id="inputContainer"></div>
