---
layout: default
---


<div class="docContainer" itemscope itemtype="http://schema.org/BlogPosting">
  
  <div class="left-nav">
  <a href="{{ site.url }}{{ site.baseurl }}"><i class="fas fa-angle-left">Back</i></a>

  <div class="home">
    {%- if page.categories -%}
    <h1 class="page-heading">{{ page.categories }}</h1>
    {%- endif -%}

    <h1 class="page-heading">{{ page.identifier }}</h1>

    <ul class="listing">
      
      {% for item in site.data.identity.header %}
    
    
      
      <li class="menu-item-{{ loop.index }}">
        {%- if item.identifier == page.identifier -%}
    
        
        <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
          item.title
        }}</a>
        <ul class="sublisting">
          {% for entry in item.subfolderitems %}
          <li>
            <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
              entry.title
            }}</a>
            <ul class="sublisting">
          {% for li in entry.subfolderitems %}
          <li>
            <a class="get-content" id="{{ item.url }}" href="" title="Go to {{ item.title }}">{{
              li.title
            }}</a>
          </li>
          {% endfor %}
        </ul>
          </li>
          {% endfor %}
        </ul>
       {%- endif -%}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


  <div class="doc-content" itemprop="articleBody">
    {{ content }}
  </div>

   <div class="right-nav">
    <p>TECHNOLOGIES</p>

    <select name="sdk" class="listing" onchange="location = this.value;">
      {% for p in site.posts %} {% if p.layout == "transfer" %}
      <option value="{{ site.url }}{{ site.baseurl }}{{ p.url }}">{{ p.title }}</option>
       {% endif %} {% endfor %}
     
    </select>
  </div>

</div>

<div class="doc-help">
    {% include needhelp.html %}
</div>
<div id="inputContainer">

</div>