---
layout: default
---

    <div class="hero2">
        <div class="banner">
          <div class="text-box">
            <p id="title">What technology are you building with it?</p>
            <p id="text">
              We’ve got comprehensive guides for each platform that should help
              out with anything you need. You can also take a look at the
              detailed API references and tutorials for a better idea of how it
              all comes together.
            </p>
          </div>
        </div>
      </div>

     <div class="tech-section">
          <h2>What technology are you building it with?</h2>
          <div class="searchWrapper">
              <i class="fa fa-search searchIcon2"></i>
            <input class="searchBox2" type="search" name="search" placeholder="Search technology name">
          </div>



          <p id="tech-title">Web</p>
          <div class="tech-row">

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/react.svg" alt="react" />
              <div class="card-body">
                <p><b>ReactJs</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/angular.svg"  alt="angular" />
              <div class="card-body">
                <p><b>Angular Js</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/vue.svg" alt="vue" />
              <div class="card-body">
                <p><b>Vue Js</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/nodejs.svg"  alt="node" />
              <div class="card-body">
                <p><b>Node Js</b></p>
              </div>

            </div>
          </div>

          <p id="tech-title">Mobile</p>
          <div class="tech-row">

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/android.svg"  alt="android" />
              <div class="card-body">
                <p><b>Android</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/ios.svg"  alt="ios" />
              <div class="card-body">
                <p><b>iOS</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/cordova.svg"  alt="cordova" />
              <div class="card-body">
                <p><b>Cordova</b></p>
              </div>

            </div>
          </div>

          <p id="tech-title">SDKs</p>
          <div class="tech-row">

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/php.svg"  alt="php" />
              <div class="card-body">
                <p><b>PHP SDK</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/golang.svg"  alt="golang" />
              <div class="card-body">
                <p><b>Go</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/woocommerce.svg"  alt="woocommerce" />
              <div class="card-body">
                <p><b>Woo commerce</b></p>
              </div>

            </div>

            <div class="card">
              <img src="..{{site.baseurl}}/assets/img/wordpress.svg"  alt="wordPress" />
              <div class="card-body">
                <p><b>WordPress</b></p>
              </div>

            </div>


          </div>

          <hr></hr>

          {% include needhelp.html %}
        </div>

  </body>
</html>
