---
layout: default
---

<div class="docContainer" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="left-nav">
    <a href="{{ site.url }}{{ site.baseurl }}">
      <i class="fas fa-angle-left">Back</i>
    </a>

    <div class="home">

      <!-- onchange of that select box (identifier) {
        list base what was passed
      } else {

      } -->
      <!-- <div class="secondary-nav">Anjola is beautiful.</div> -->
      <!-- <div class="default-nav"> -->
        <h1 class="page-heading">{{ page.identifier }}</h1>

        <ul class="listing">
          {% for item in site.data.transfer.header %}

          <li class="menu-item-{{ loop.index }}">
            {%- if item.identifier == page.identifier -%}

            <a
              class="get-content"
              id="{{ item.url }}"
              href=""
              title="Go to {{ item.title }}"
              >{{ item.title }}</a
            >
            <ul class="sublisting listing">
              {% for entry in item.subfolderitems %}
              <li>
                <a
                  class="get-content"
                  id="{{ entry.url }}"
                  href=""
                  title="Go to {{ entry.title }}"
                  >{{ entry.title }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {%- endif -%}
          </li>
          {% endfor %}
        </ul>
      <!-- </div> -->
    </div>
  </div>

  <div class="doc-content" itemprop="articleBody">
    
    {{ content }}
  </div>

  <div class="right-nav">
    <p>TECHNOLOGIES</p>

    <!-- <select id="sdk" name="sdk" class="listing">
      <option value="">Select Technology</option>
      {% for p in site.posts %} {% if p.layout == "transfer" %}

      <option value="{{ p.url }}">{{
        p.title
      }}</option>
      {% endif %} {% endfor %}
    </select> -->

    <select id="sdk" name="sdk" class="listing">
      <option value="">Select Technology</option>
      {% for p in site.data.sdk.header %} 

      <option value="{{ p.identifier }}">{{
        p.title
      }}</option>
     {% endfor %}
    </select>

    <hr />
    <div id="log"></div>

    {% for item in page.subnav %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}
  </div>

  <!-- <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a> -->
</div>

<div class="doc-help">
  {% include needhelp.html %}
</div>

<div class="doc-help">
  {% include helpful.html %}
</div>


<div id="inputContainer"></div>
